<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OnLoadServlet</servlet-name>
        <servlet-class>com.buoctien.ais.OnLoadServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>com.buoctien.ais.MapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AISMapJsonServlet</servlet-name>
        <servlet-class>com.buoctien.ais.AISMapJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>COMConfigAlert</servlet-name>
        <servlet-class>com.buoctien.ais.COMConfigAlert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>com.buoctien.ais.MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>com.buoctien.ais.ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.buoctien.ais</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OnLoadServlet</servlet-name>
        <url-pattern>/OnLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/mapservlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AISMapJsonServlet</servlet-name>
        <url-pattern>/AISMapJsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>COMConfigAlert</servlet-name>
        <url-pattern>/comconfigalert.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/mainpage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/control.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
